# .env
# CAMBIAR
POSTGRES_USER=admin
POSTGRES_PASSWORD=
POSTGRES_DB=observability
POSTGRES_PORT=5432

# ! Usuario solo-lectura para Grafana
# GRAFANA_DB_USER=grafanareader
# GRAFANA_DB_PASSWORD=

GRAFANA_USER=admin
GRAFANA_PASSWORD=

# Versiones (ajústalas si quieres)
TIMESCALE_IMAGE=timescale/timescaledb:latest-pg16
GRAFANA_IMAGE=grafana/grafana-oss:latest

# Red y puertos host
GRAFANA_PORT=3000

# Meteosix
METEOSIX_API_KEY=
METEOSIX_BASE_URL=https://servizos.meteogalicia.gal/apiv5
METEOSIX_OPERATION=getNumericForecastInfo
METEOSIX_FORMAT=application/json
METEOSIX_LANG=gl
METEOSIX_COORDS=-8.409,43.362;-8.546,42.880;-8.720,42.240;-7.556,43.012;-7.864,42.336;-8.644,42.431
POLL_SECONDS=21600
CACHE_TTL_SECONDS=93600